params {
    samplesheet = "/path/to/samplesheet.csv"
    ref_genome = "/path/to/mm10.fa"
    gtf = "/path/to/mm10.refGene.gtf"
  
    fa_dict = null
    star_index = null
    lncRNAs_ref = "/path/to/lnc_only.gtf"
    known_snps_vcf = "/path/to/known_snps.vcf.gz"
  
    control_cnt = 60        // take the number of control samples and multiply by 10
    
    // Define groups here (do not let them end in a number)
    group1 = "Control"
    group2 = "TreatmentA"
    group3 = "TreatmentB"
  
    outdir = "$projectDir/results/"
}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    aws {
        process {
            executor = 'awsbatch'
            queue = '<your-job-queue>'        // Replace with your AWS Batch job queue name

            withLabel: process_single {
                cpus = 1
                memory = '4 GB'
            }
            withLabel: process_low {
                cpus = 4
                memory = '16 GB'
            }
            withLabel: process_medium {
                cpus = 8
                memory = '32 GB'
            }
            withLabel: process_high {
                cpus = 16
                memory = '64 GB'
            }
        }

        aws {
            region = 'us-east-1'             // Replace with your AWS region
            batch {
                cliPath = '/home/ec2-user/miniconda/bin/aws'  // Path to AWS CLI on compute instances
            }
        }

        workDir = 's3://<your-bucket>/work'  // Replace with your S3 work directory
    }
    local {
        process.executor = 'local'
    }
}

// Change the queueSize to enable more parallel jobs
executor {
    $awsbatch {
        queueSize = 10
    }
    $local {
        cpus = 1
    }
}

resume = true
