params {
    // Reads and references
    samplesheet = "$projectDir/samplesheet.csv"
    ref_genome = "/projectnb/wax-es/JackS/mm10.fa"
    gtf = "/projectnb/wax-es/JackS/mm10.refGene.gtf"
    fa_dict = null
    star_index = null
    lncRNAs_ref = "/projectnb/wax-es/JackS/lnc_only.gtf"
    known_snps_vcf = null

    control_cnt = 60  // take number of control samples and multiply by 10

    // Define groups here:
    group1 = "aHepGHRkd"
    group2 = "aHepGHRkd_rIGF"
    group3 = "aHepGHRkd_Stat5bCA"

    // Directories
    outdir = "$projectDir/results/"
    refdir = "$projectDir/refs/"

}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P wax-es'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }
                withLabel: process_medium {
                    cpus = 8
                }
                
                withLabel: process_high {
                    cpus = 16
                    // clusterOptions = "-P bf528 -l mem_per_core=8G"
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

//Change the queueSize to enable more parallel jobs (remember the SCC is a shared resource)
executor {
    $sge {
        queueSize = 20
    }
    $local {
        cpus = 1
    }
}

//Miscellaneous CLI flags
resume = true